<app-header titulo="Ubicacion"></app-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ubicacionCafixa">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>Local</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ubicacionClientes">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Nuestros Clientes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


<!-- <ion-content>
  <div id="mapId" style="width: 100%; height: 100%">
    
</div>
</ion-content> -->
